.services {
    margin: 50px 0;
}

.services__blocks {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 50px;
    padding: 0 10%;
    width: 100%;
}

.service {
    box-sizing: border-box;
    float: left;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    width: 33.33%;
}

.service__icon {
    font-size: 40px;
}

.service__title {
    font-size: 24px;
}

.service__text {
    font-size: 14px;
    margin: 15px 0;
}

.service__slogan {
    color: #e09219;
}