mixin list
    ul.list&attributes(attributes)
        block

mixin list-item
    li.list__item&attributes(attributes)
        block

mixin list-link
    a.list__link&attributes(attributes)
        block