.description--light,
.description {
    padding: 0 10%;
    text-align: center;
}

.description--light {
    color: #fff;
}

.description__title,
.description__title--large {
    font-size: 30px;
    text-transform: uppercase;
}

.description__title--large {
    font-size: 50px;
}

.description__text {
    font-weight: 300;
    margin-top: 20px;
}