include ../../components/header/header
include ../../components/list/list

section
    +header
        span {{homeCtrl.game.homeTeam}}
        br
        span vs {{homeCtrl.game.outTeam}}
    div
        div
            p {{homeCtrl.game.date}} - {{homeCtrl.game.start}}
            p {{homeCtrl.game.stadium}}

        div
            div
                div {{homeCtrl.game.homeTeam}}
                +list
                    +list-item(ng-repeat="player in homeCtrl.homePlayers")
                        +list-link(ng-href="#/player/{{player.id}}") {{player.number}} - {{player.name}}

            div
                div {{homeCtrl.game.outTeam}}
                +list
                    +list-item(ng-repeat="player in homeCtrl.outPlayers")
                        +list-link(ng-href="#/player/{{player.id}}") {{player.number}} - {{player.name}}