section
    div
        div {{playerCtrl.player.number}}
    div
        div
            img(src="{{playerCtrl.player.picture}}")
            h1 {{playerCtrl.player.name}}

        div
            div
                img(src="assets/length.png")
                div {{playerCtrl.player.size}}
            div
                img(src="assets/weight.png")
                div {{playerCtrl.player.weight}}
            div
                img(src="assets/jersey.png")
                div {{playerCtrl.player.position}}

        div {{playerCtrl.player.bio}}

        div
            div
                div {{playerCtrl.player.caps}}
                div caps

            div
                div {{playerCtrl.player.games}}
                div wedstrijden

            div
                div {{playerCtrl.player.goals}}
                div doelpunten

            div
                div {{playerCtrl.player.clubs}}
                div clubs

        h2 Laatste uitslagen

        div
            div België
            div
                img(src="assets/Belgium.png")

            div 3 - 1

            div
                img(src="assets/Italy.png")
            div Italië

        div
            div België
            div
                img(src="assets/Belgium.png")

            div 3 - 1

            div
                img(src="assets/Italy.png")
            div Italië

        div
            div België
            div
                img(src="assets/Belgium.png")

            div 3 - 1

            div
                img(src="assets/Italy.png")
            div Italië

        a(href="/#/") Terug naar overzicht