include ../../components/header/header

section.player
    +header
        span.player__number {{playerCtrl.player.number}}

    img.player__picture(src="{{playerCtrl.player.picture}}")
    h1.player__name {{playerCtrl.player.name}}

    .specs
        .spec
            img.spec__icon(src="assets/length.png")
            .spec__text {{playerCtrl.player.size}}
        .spec
            img.spec__icon(src="assets/weight.png")
            .spec__text {{playerCtrl.player.weight}}
        .spec
            img.spec__icon(src="assets/jersey.png")
            .spec__text {{playerCtrl.player.position}}

    .bio {{playerCtrl.player.bio}}

    .stats
        .stat
            .stat__number {{playerCtrl.player.caps}}
            .stat__text caps

        .stat
            .stat__number {{playerCtrl.player.games}}
            .stat__text wedstrijden

        .stat
            .stat__number {{playerCtrl.player.goals}}
            .stat__text doelpunten

        .stat
            .stat__number {{playerCtrl.player.clubs}}
            .stat__text clubs

    .title Laatste uitslagen

    .game
        .game__team België
        img.game__flag(src="assets/Belgium.png")

        .game__score 3 - 1

        img.game__flag(src="assets/Italy.png")
        .game__team Italië

    .game
        .game__team België
        img.game__flag(src="assets/Belgium.png")

        .game__score 3 - 1

        img.game__flag(src="assets/Italy.png")
        .game__team Italië

    .game
        .game__team België
        img.game__flag(src="assets/Belgium.png")

        .game__score 3 - 1

        img.game__flag(src="assets/Italy.png")
        .game__team Italië

    a.btn(href="/#/") Terug naar overzicht
