section
    div
        div {{playerCtrl.player.number}}
    div
        div
            img(src="{{playerCtrl.player.picture}}")
            h1 {{playerCtrl.player.name}}

        div
            div
               img(src="http://placehold.it/30x30")
               div {{playerCtrl.player.size}}
            div
               img(src="http://placehold.it/30x30")
               div {{playerCtrl.player.weight}}
            div
               img(src="http://placehold.it/30x30")
               div {{playerCtrl.player.position}}

        .bio {{playerCtrl.player.bio}}

        div
            div
               div {{playerCtrl.player.caps}}
               div caps

            div
               div {{playerCtrl.player.games}}
               div wedstrijden

            div
               div {{playerCtrl.player.goals}}
               div doelpunten

            div
               div {{playerCtrl.player.clubs}}
               div clubs

        h2 Laatste uitslagen

        div
            div België
            div
                img(src="http://placehold.it/50x50")

            div 3 - 1

            div
                img(src="http://placehold.it/50x50")
            div Italië

        div
            div België
            div
                img(src="http://placehold.it/50x50")

            div 3 - 1

            div
                img(src="http://placehold.it/50x50")
            div Italië

        div
            div België
            div
                img(src="http://placehold.it/50x50")

            div 3 - 1

            div
                img(src="http://placehold.it/50x50")
            div Italië

        a(href="#") Bekijk alle uitslagen