$header-text-color: rgba(#fff, .5);

.header {
  background: url('../../assets/bg.jpg') no-repeat fixed 0 50%;
  background-size: cover;
  height: 400px;
  position: relative;
  width: 100%;
}

.header__text {
  bottom: 0;
  color: $header-text-color;
  position: absolute;
  font-size: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}