include ../../components/header/header
include ../../components/list/list

section.game
    +header
        span {{homeCtrl.game.homeTeam}}
        br
        span vs {{homeCtrl.game.outTeam}}
    .content
        .game__info(ng-switch="homeCtrl.game.cancelled")
            div(ng-switch-default)
                p {{homeCtrl.game.date}} - {{homeCtrl.game.start}}
                p {{homeCtrl.game.stadium}}
            div(ng-switch-when="true")
                p.game__info--cancelled Cancelled

        .game__teams
            .game__team--home
                .game__team-title {{homeCtrl.game.homeTeam}}
                +list
                    +list-item(ng-repeat="player in homeCtrl.homePlayers")
                        +list-link(ng-href="#/player/{{player.id}}") {{player.number}} - {{player.name}}

            .game__team--out
                .game__team-title {{homeCtrl.game.outTeam}}
                +list
                    +list-item(ng-repeat="player in homeCtrl.outPlayers")
                        +list-link(ng-href="#/player/{{player.id}}") {{player.number}} - {{player.name}}