doctype
html
    head
        link(rel="stylesheet" href="./bower_components/reset-css/reset.css")
        link(rel="stylesheet" href="./bower_components/fontawesome/css/font-awesome.css")
        link(rel="stylesheet" href="./app.css")
    body(ng-app="SoccerGame" ng-cloak)
        div(ng-view)
        script(src="./app.js")
